<!DOCTYPE html>
<html lang="en">
<head>

{% block head %}
    <meta charset="UTF-8">
    <title>Title</title>

    {% include 'url_mapper.html' %}

{% endblock %}
</head>
<body>
{% block body %}


{% endblock %}
</body>
</html>
