{% extends 'base.html' %}

{% block body %}

    <form method="POST">
        {% csrf_token %}
        <p>
            {{ form.total.label_tag }}
            {{ form.total }}

            <input type="submit">

            {{ form.total.errors }}
        </p>
    </form>

    <p>
    Users amount: {{ users_counter }}
    </p>

    {% for user in users_list %}
        <p> {{ user.id }} {{ user.username }} {{ user.password }} </p>
    {% endfor %}

{% endblock %}