
<a href="{% url 'generate_users' %}"> Generate Random Users </a>

<b>|</b>

<a href="{% url 'users_list_remove' %}"> Remove Generated Users </a>

<b>|</b>

<a href="{% url 'high_task' %}"> high_task </a>

<b>|</b>

<a href="{% url 'default_task' %}"> default_task </a>

<b>|</b>

<a href="{% url 'low_task' %}"> low_task </a>

